<div class="containersv">


    <ng-template #solicitudRecibida>

        <div class="p-field p-fluid p-jc-center p-mt-1">
            <h1 class="p-mt-2">{{'LOGIN.REQUESTR'|translate}}</h1>
            <h4 class="p-mt-2">{{'LOGIN.REQUESTM'|translate}}</h4>
            <div>
                <h4 class="p-mt-2">{{'LOGIN.SENDEMAILV'|translate}}
                    {{rcorreo}}
                </h4>
            </div>
        </div>
    </ng-template>





    <ng-template #cambiar>
        <form class="FormLog p-mt-3" #formularioForgotPass="ngForm">
            <div *ngIf="miboleano2;else solicitudRecibida">

                <p-messages [(value)]="msgs2" [enableService]="false" severity="error" key="error" [escape]="false">

                </p-messages>

                <h1 class="p-d-flex p-jc-center"> {{'LOGIN.FORGOTPASS'|translate}} </h1>
                <!-- <div class="p-card"> -->

                <h4 class="p-text-center">{{'LOGIN.MESSAGERROR'|translate}}</h4>

                <div p-d-flex p-flex-column p-mt-3>
                    <div class="p-d-flex  p-flex-row  p-ai-center">
                        <div class="p-jc-center ancho p-p-3">
                            <div class="pass">
                                <div class=" p-jc-center p-field">
                                    <label for="recuperar" class=" p-d-flex">
                                        {{'LOGIN.EMAIL'|translate}} </label>
                                    <div class="p-col p-jc-center p-flex-column p-d-flex  ">  
                                        <input #recuperar="ngModel" placeholder="{{'LOGIN.EMAILE'|translate}}"
                                            name="recuperar" pInputText
                                            pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                                            required  [(ngModel)]="rcorreo">
                                        <small *ngIf="formularioForgotPass.controls['recuperar']?.errors?.pattern"
                                            class="p-error p-flex-column">
                                            {{'LOGIN.ERRORP'|translate}}</small>
                                        <small
                                            *ngIf="formularioForgotPass.controls['recuperar']?.errors?.required && formularioForgotPass.touched"
                                            class="p-error p-flex-column">{{'LOGIN.ERRORREQ'|translate}}</small>
                                        <small
                                            *ngIf="correonoe"
                                                class="p-error p-flex-column">{{'LOGIN.PASSWORDNOTR'|translate}}</small> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-d-flex p-jc-center anchobut ">
                            <button pButton type="button" label="{{'LOGIN.SENDEMAIL'|translate}}"
                                (click)="  cambiaraverif(rcorreo)" [disabled]="formularioForgotPass.invalid"
                                class="ui-button-warning  anchob "></button>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>

                <div class=" p-d-flex p-jc-end  ancho  ">
                    <h4 class=" p-d-flex  p-jc-end ancho p-p-2">
                        {{'LOGIN.KNOWPASS'|translate}}
                    </h4>
                    <p-button class=" p-jc-center anchob " styleClass="p-button-link" (click)="cambiador(formularioForgotPass)">
                        {{'LOGIN.SIGNIN'|translate}}
                    </p-button>

                </div>
            </div>





        </form>

    </ng-template>



    <form class="FormLog" #formularioLog="ngForm">

        <div *ngIf="miboleano;else cambiar">


            <p-messages [(value)]="msgs2" [enableService]="false" severity="error" key="error" [escape]="false">

            </p-messages>

            <h1> {{'LOGIN.BIENVENIDO'|translate}} </h1>
            <!-- <div class="p-card"> -->


            <div class="p-field p-fluid p-jc-center">
                <div class="pass">
                    <div class="p-field p-fluid  p-jc-center">
                        <label for="email" class="fixed p-jc-center " style="width:100px">
                            {{'LOGIN.EMAIL'|translate}} </label>
                        <div class=" p-jc-center">
                            <input #email="ngModel" placeholder="{{'LOGIN.EMAILE'|translate}}" name="email" pInputText
                                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                                required [(ngModel)]="correo">
                            <small *ngIf="formularioLog.controls['email']?.errors?.pattern" class="p-error">
                                {{'LOGIN.ERRORP'|translate}}</small>
                            <small *ngIf="formularioLog.controls['email']?.errors?.required && formularioLog.touched"
                                class="p-error">{{'LOGIN.ERRORREQ'|translate}}</small>
                        </div>
                    </div>
                </div>


                <div class="p-field p-fluid">
                    <div class="pass">
                        <div class="p-field">
                            <label for="clave" class="p-col-fixed">{{'LOGIN.PASSWORD'|translate}}</label>
                            <div class="p-input-icon-right">
                                <input type="password" placeholder="{{'LOGIN.PASSWORDE'|translate}}" #password="ngModel"
                                    name="password" [(ngModel)]="clave" [type]="toggleMask2?  'password': 'text'"
                                    required pPaswword pInputText>
                                <i class="pi" (click)="toggleMask2= !toggleMask2"
                                    [ngClass]="toggleMask2 ? 'pi-eye' : 'pi-eye-slash'"> </i>
                                <small
                                    *ngIf="formularioLog.controls['password']?.errors?.required && formularioLog.touched"
                                    class="p-error">{{'LOGIN.ERRORPREQ'|translate}}</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="p-d-flex p-jc-center   ">
                <button pButton type="button" label="{{'LOGIN.SIGNIN'|translate}}" (click)="login(correo,clave,formularioLog) "
                    [disabled]="formularioLog.invalid" class="ui-button-warning anchob"></button>
            </div>


            <div class="p-d-flex p-jc-center   ">
                <p-button class="p-d-flex " styleClass="p-button-link" (click)="cambiador()">
                    {{'LOGIN.FORGOTPASS'|translate}}</p-button>
            </div>
        </div>

        <p-divider></p-divider>

        <div class="p-d-flex p-flex-column p-ai-center" *ngIf="miboleano2 ">
            <span class="text"> {{'LOGIN.ORCONNECT'|translate}}</span>

            <button pButton class="apple p-mb-1 p-d-flex anchob" type="button" label="{{'LOGIN.CONNECTA'|translate}}"
                icon="pi pi-apple" styleClass="p-button-secondary">
            </button>

            <button pButton class="face p-mb-1 anchob" type="button" label="{{'LOGIN.CONNECTF'|translate}}"
                icon="pi pi-facebook" type="submit" styleClass="p-button ">
            </button>

            <button pButton class="goog p-mb-1 anchob" type="button" label="{{'LOGIN.CONNECTG'|translate}}"
                icon="pi pi-google" styleClass="p-button-outlined">
            </button>
        </div>
    </form>
</div>