.pass{
    font-size: medium;
    
    font-weight: bold;
}

.p-card{
    font-size: medium;
    
    font-weight: bold;
}

.p-button-info{
    font-weight: bold;
}

.forgotp{
    font-weight: bold;
}
.verde{
    background-color: goldenrod;
}
.anchob{
    width: 100%;
    
}

.anchobts{
    height: 50%;
}
.ancho{
    flex-basis: 100%;
}
.anchobut{
    flex-basis: 25%;
}


