<div class="container p-grid p-nogutter p-col-12">
    <div class="p-col-12 p-lg-4 p-xl-4 p-mt-2 image" >
        <img  class="imagen " src="https://image.freepik.com/vector-gratis/construccion-infografias-informacion-mapas-carta-mundial-grafico-infochart-industrial_1284-44124.jpg"
            alt="" width="100%" height="auto">
    </div>
    <div class="p-col-12  p-lg-8 p-xl-8 p-d-flex p-jc-center p-grid p-flex-column">
        <div class="p-col-12 p-mt-2 p-mb-2 p-d-flex p-jc-center  ">
            <h2>{{'FORMPROPIEDAD.AMENIDADES' | translate}} </h2>
        </div>

        <div class="p-col-12  p-lg-10 p-xl-10 p-mb-1 p-d-flex p-d-flex-column p-flex-wrap">
            <div class="p-col-12">
                <h3>{{'FORMPROPIEDAD.SELECIONESERVICIOS' | translate}}</h3>
            </div>
            <div class="p-col-6  p-sm-4 p-md-3 p-lg-3 p-xl-3 p-field-checkbox" *ngFor="let item of propiedad.servicios | keyvalue">
                <div class="p-field-radiobutton">
                    <p-checkbox [id]='item.key' name="servicios" binary="true" [inputId]="item.key"
                        [(ngModel)]="propiedad.servicios[item.key]"></p-checkbox>
                    <label [for]="item.key">{{'FORMPROPIEDAD.'+item.key.toUpperCase() | translate}}</label>
                </div>
            </div>
        </div>
        <div class="p-col-12  p-lg-10 p-xl-10 p-mb-1 p-d-flex p-d-flex-column p-flex-wrap">
            <div class="p-col-12">
                <h3>{{'FORMPROPIEDAD.SELECTCARACTERISTICASGENERALES' | translate}}</h3>
            </div>
            <div class="p-col-6  p-sm-4 p-md-3 p-lg-3 p-xl-3 p-field-checkbox" *ngFor="let item of propiedad.caracteristicasG | keyvalue">
                <div class="p-field-radiobutton">
                    <p-checkbox [id]="item.key" [name]="item.key" [(ngModel)]="propiedad.caracteristicasG[item.key]"
                        [binary]="true" [inputId]="item.key"></p-checkbox>
                    <label for="city1">{{'FORMPROPIEDAD.'+item.key.toUpperCase() | translate}}</label>
                </div>
            </div>
        </div>
        <div class="p-col-12  p-lg-10 p-xl-10 p-mb-1 p-d-flex p-d-flex-column p-flex-wrap">
            <div class="p-col-12">
                <h3>{{'FORMPROPIEDAD.SELECTCARACTERISTICASEXTERIORES' | translate}}</h3>
            </div>
            <div class="p-col-6  p-sm-4 p-md-3 p-lg-3 p-xl-3  p-field-checkbox" *ngFor="let item of propiedad.exteriores | keyvalue">
                <div class="p-field-radiobutton">
                    <p-checkbox [id]="item.exteriores" name="exteriores" [(ngModel)]="propiedad.exteriores[item.key]"
                        binary="true" [inputId]="item.key"></p-checkbox>
                    <label for="city1">{{'FORMPROPIEDAD.'+item.key.toUpperCase() | translate}}</label>
                </div>
            </div>
        </div>
        <div class="p-col-12  p-lg-10 p-xl-10 p-mb-1 p-d-flex p-d-flex-column p-flex-wrap">
            <div class="p-col-12">
                <h3>{{'FORMPROPIEDAD.SELECIONEAMBIENTES' | translate}}</h3>
            </div>
            <div class="p-col-6  p-sm-4 p-md-3 p-lg-3 p-xl-3  p-field-checkbox" *ngFor="let item of propiedad.ambientes | keyvalue">
                <div class="p-field-radiobutton">
                    <p-checkbox [id]="item.key" name="ambientes" [(ngModel)]="propiedad.ambientes[item.key]"
                        binary="true" [inputId]="item.key"></p-checkbox>
                    <label for="city1">{{'FORMPROPIEDAD.'+item.key.toUpperCase() | translate}}</label>
                </div>
            </div>
        </div>
        <div class="p-col-12  p-d-flex p-jc-center  p-jc-lg-between p-jc-xl-between p-grid p-mt-4 ">
            <button class="p-col-10  p-md-2 p-lg-2  p-xl-2   p-button-danger p-shadow-3  p-d-flex p-jc-center margen"  pButton
                label="{{'BOTONES.CANCELAR' | translate}}" routerLink="/cuenta/perfil">
            </button>
            <button class="p-col-10   p-md-2 p-lg-2  p-xl-2  p-button-help p-shadow-3 p-d-flex p-jc-center  margen" pButton label="{{'BOTONES.ATRAS' | translate}}"
                (click)="navegar(propiedad,'/cuenta/nuevo/direccion')">
            </button>
            <button class="p-col-10   p-md-2  p-lg-2  p-xl-2   p-button-info p-shadow-3 margen" pButton label="{{'BOTONES.BORRADOR' | translate}}"
                (click)="guardarBorrador(propiedad)" routerLink="/cuenta/perfil">
            </button>
            <button class="p-col-10 p-md-2   p-lg-2  p-xl-2   p-button-warning p-shadow-3 margen" pButton
                label="{{'BOTONES.SIGUIENTE' | translate}}" (click)="navegar(propiedad,'/cuenta/nuevo/datosInmueble')">
            </button>
        </div>
    </div>
</div>