.container{
    margin: 1rem;
}
label{
    font-size: 1.1rem;
    font-weight: bold;
}
button{
    font-size: 1.1rem;
}
.logo{
    border-width: 0.1rem;
    border-color: rgb(204, 204, 204);
    border-radius: 1%;
    border-style: solid;
}
