.menuRespo{
    display: none;
    opacity: 0;
}
@media only screen and (max-width: 961px) {
    .menu {
        display: none;
    }
}
@media only screen and (max-width: 960px) {
    .menuRespo {
        display: block;
        opacity: 1;
    }
}

.vista {
    display: flex;
    flex-basis: 90%;
}
