/* You can add global styles to this file, and also import other style files */

@import '~swiper/swiper-bundle';
@import "~quill/dist/quill.snow.css";
* {
    padding: 0;
    margin: 0;
}


/* Scroll Personal */

h1{
    padding: 5px;
    margin: 0;
}